#wrap{
    width: 100%;
    .sub{
        width: 100%;
        #section1{
            width: 100%;
            .container{
                width: 100%;              
                .gap{
                    width: 100%;
                    .content{
                        width: 100%;
                        .top-menu{
                            position: relative;
                            width: 100%;
                            .btn-box{
                                width: 100%;
                                min-width: 1280px;
                                margin: 0 auto;
                                height: 202px;
                                padding: 56px 0 0 0;
                                background: url(../img/sub8/bg_search_top.jpg) no-repeat 50% 0;  
                                

                                .btn-container{
                                    width: 1280px;
                                    margin: 0 auto;
                                    .btns{
                                        width: 100%;                                
                                        display: flex;
                                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px 0px ;
                                        border-radius: 20px;
                                        // overflow: hidden;
                                        
                                        >div{
                                            border: 0;                                    
                                            background: #fff;
                                            padding: 42px 0 42px 32px;
                                            // font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto;
                                            text-align: left;
                                            
                                            .search-title{
                                                display: block;
                                                font-size: 17px;
                                                font-weight: 700;
                                                color: #999;
                                                letter-spacing: -1px;
                                                margin: 0 0 4px 0;
                                                cursor: pointer;
                                            }
                                            .placeholder{
                                                display: block;
                                                font-size: 25px;
                                                font-weight: 700;
                                                line-height: 1.5;
                                                color: #ccc;
                                                letter-spacing: -2px;
                                                cursor: pointer;
                                            }
                                            .input-text{
                                                display: block;
                                                font-size: 25px;
                                                font-weight: 700;
                                                line-height: 1.5;
                                                color: #000;
                                                letter-spacing: -2px;
                                                cursor: pointer;
                                            }
                                            
                                        }
                                        .btn1{
                                            width: 406px;
                                            border-top-left-radius: 20px;
                                            border-bottom-left-radius: 20px;
                                        }
                                        .btn2,.btn3{
                                            position: relative;
                                            width: 326px;
                                            border-left: 1px solid #eee;
                                        }
                                        .search-btn{
                                            background: #fff;
                                            width: 222px;
                                            padding: 32px;
                                            border-top-right-radius: 20px;
                                            border-bottom-right-radius: 20px;
                                            button{
                                                text-align: center;
                                                width: 158px;
                                                height: 80px;                                            
                                                background: #4a95ff;
                                                border: 0;
                                                border-radius: 8px;
                                                font-size: 20px;
                                                font-weight: 700;
                                                color: #fff;
                                                transition: all 0.3s;
                                                cursor: pointer;
                                                &:hover{
                                                    background-color: #036bfd;
                                                }
                                            }
                                        }
                                        
                                    }
                                }
                                
                            }
                            .btn-box-sub3{
                                background: url(../img/sub3/bg_search_top.svg) no-repeat 50% 0;
                            }
                            .quick-menu{
                                width: 1280px;
                                margin: 0 auto;
                                padding: 34px 0 60px 0;
                                ul{
                                    width: 100%;
                                    padding: 0 64px;
                                    display: flex;
                                    justify-content: space-between;
                                    li{
                                        position: relative;
                                        width: 80px;
                                        
                                        >a{
                                            display: block;
                                            margin: 29px 0 0 0;
                                            width: 100%;
                                            text-align: center;
                                            span{
                                                position: absolute;                                                     
                                                top: 0;
                                                left: 50%;
                                                padding: 3px 8px;
                                                transform: translate(-50%);
                                                white-space: nowrap;
                                                color: #ef3e43;
                                                font-size: 12px;
                                                font-weight: 700;
                                                line-height: 1.5;
                                                letter-spacing: -1px;
                                                border: 1px solid rgba(239,62,67,.6);
                                                border-radius: 12px;
                                                &::after{
                                                    content: "";
                                                    width: 6px;
                                                    height: 6px;
                                                    position: absolute;  
                                                    top: 90%;
                                                    left: 50%;                                                  
                                                    border-top: 1px solid rgba(239,62,67,.6);
                                                    border-right: 1px solid rgba(239,62,67,.6);
                                                    transform: translatex(-50%) rotate(135deg);
                                                    background-color: #fff;
                                                }
                                            }
                                            img{
                                                width: 100%;
                                                transition: all 0.3s;
                                                &:hover{
                                                    transform: scale(1.2);
                                                }
                                            }
                                            h4{
                                                margin: 5px 0 0 0;
                                                font-size: 12px;
                                                font-weight: 700;
                                                color: #000;
                                            }
                                        }
                                    }
                                }                                
                            }
                        }
                        
                    }
                }
            }
        }
        #section2{
            width: 100%;
            margin: 0 0 60px 0;
            a{
                display: flex;
                position: relative;
                width: 1280px;
                padding: 16px 20px;
                line-height: 1.5;
                margin: 0 auto;
                border: 1px solid #eee;
                border-radius: 12px;
                
                span{
                    color: #4a95ff;
                    border: 0.1rem solid #98c3ff;
                    border-radius: 4px;
                    padding: 0 4px;
                    font-size: 11px;
                    font-weight: 700;
                    letter-spacing: -1.5px;
                    margin: 0 8px 0 0;
                }
                h3{
                    font-size: 12px;
                    font-weight: 700;
                    color: #000;
                }                
                    
                img{
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 12px;
                    height: 12px;
                }
                

            }
        }
        .section2-sub3{
            display: none;
        }
        #section3{
            width: 100%;
            margin: 0 0 60px 0;
            position: relative;
            .container{
                width: 1280px;
                margin: 0 auto;
                .gap{
                    width: 100%;
                    .title{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin: 0 0 12px 0;
                        h2{
                            font-size: 17px;
                            font-weight: 700;
                            color: #000;
                        }
                        button{
                            border: 0;
                            background: #fff;
                            font-size: 13px;
                            color: #666;
                            font-weight: 400;
                            cursor: pointer;
                            span{
                                margin: 0 4px 0 4px;
                                display: inline-block;
                                border: 1px solid #000;
                                border-color: transparent transparent transparent #999;
                                border-width: 5px 0 5px 5px;
                            }
                        }
                    }
                    .content{
                        width: 100%;
                        .event-slide-container{
                            width:100%;
                            .event-slide-view{
                                width:100%;
                                overflow: hidden;
                                .event-slide-wrap{
                                    width: 34% * 8;                        
                                    display: flex;
                                    position: relative;
                                    li{
                                        width: 34%;
                                        border-radius: 12px;
                                        overflow: hidden;
                                        margin: 0 30px 0 0;
                                        a{
                                            display: block;
                                            width: 100%;
                                            img{
                                                width: 100%;
                                                transition: all 0.3s;
                                                &:hover{
                                                    transform: scale(1.1);
                                                }
                                            }
                                        }
                                        
                                    }
                                }
                            }                            
                        }
                    }
                }
            }
            .left-arrow-btn {
                background-color: #ddd;
                position: absolute;
                left: 12%;
                top: 50%;
                z-index: 2;
                transform: translateY(-50%);
                box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px ;
                border-radius: 50%;
                width: 50px;
                img {
                    width:100%;
                }
            }
            .right-arrow-btn {
                position: absolute;
                right: 12%;
                top: 50%;
                z-index: 2;
                transform: translateY(-50%);
                box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px ;
                border-radius: 50%;
                width: 50px;
                img {
                    width:100%;
                }
            }
        }
        #section4{
            width: 100%;
            margin: 0 0 60px 0;
            .container{
                width: 1280px;
                margin: 0 auto;
                .gap{
                    width: 100%;
                    .title{
                        width: 100%;  
                        margin: 0 0 20px 0;
                        h2{
                            font-size: 17px;
                            font-weight: 700;
                            color: #000;
                        }
                    }
                    .content{
                        width: 100%;
                        .nav{       
                            width: 100%;                     
                            margin: 0 0 40px 0;
                            ul{
                                width: 100%;
                                display: flex;                                
                                
                                li{
                                    width: 100%;
                                    text-align: center;
                                    padding: 16px 0 20px 0;
                                    border-top: 1px solid #ccc;                                    
                                    border-right: 1px solid #ccc;
                                    border-bottom: 2px solid #000;
                                    
                                    a{
                                        display: block;
                                        width: 100%;
                                        font-size: 17px;
                                        line-height: 1.5;
                                        color: #666;
                                    }
                                    &:nth-child(1){
                                        border-left: 1px solid #ccc;
                                    }
                                    &.on{
                                        border: 2px solid #000;
                                        border-bottom: none;
                                        a{                                            
                                            font-weight: 700;
                                            color: #000;
                                        }                                        
                                    }
                                }
                            }
                        }
                        .content-box{
                            >ul{
                                width: 100%;
                                display: none;
                                
                                &.on{
                                    display: flex;
                                }
                                >li{
                                    position: relative;
                                    width: 25%;
                                    margin: 0 30px 0 0;
                                    &:last-child{
                                        margin: 0;
                                    }
                                    a{           
                                        width: 100%; 
                                        display: block; 
                                        overflow: hidden;                
                                        .img-box{
                                            width: 100%;
                                            position: relative;
                                            overflow: hidden;                                            
                                            height: 180px;
                                            border-radius: 12px;     
                                            img{
                                                position: absolute;
                                                top: 50%;
                                                left: 50%;
                                                transform: translate(-50%, -50%);
                                                width: 100%;
                                                height: 100%;
                                                transition: all 0.3s;
                                                &:hover{
                                                    transform: translate(-50%, -50%) scale(1.1);
                                                }
                                            }
                                        }
                                        .text-box{
                                            padding: 12px 4px 0 4px;
                                            ul{
                                                li{
                                                    h3{
                                                        font-size: 15px;
                                                        color: #000;
                                                        font-weight: 700;
                                                    }
                                                    span{
                                                        font-size: 13px;
                                                        font-weight: 400;
                                                        color: #666;
                                                    }
                                                    strong{
                                                        font-size: 17px;
                                                        font-weight: 700;
                                                        color: #000;
                                                    }
                                                    em{
                                                        font-size: 13px;
                                                    }
                                                    &:nth-child(2){
                                                        margin: 4px 0 8px 0;
                                                    }
                                                }
                                            }
                                        }
                                    }  
                                    button{
                                        position: absolute;
                                        top: 15px;
                                        right: 15px;
                                        width: 22px;
                                        background: none;
                                        border: 0;
                                        cursor: pointer ;
                                        img{
                                            width: 100%;
                                            &.heart-on{
                                                display: none;
                                            }
                                        }
                                        &.on{
                                            img{
                                                &.heart-off{
                                                    display: none;
                                                }
                                                &.heart-on{
                                                    display: block;
                                                }
                                            }
                                        }
                                    }                                  
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
        #section5{
            width: 100%;
            margin: 0 0 60px 0;
            position: relative;
            .container{
                width: 1280px;
                margin: 0 auto;
                .gap{
                    width: 100%;
                    .title{
                        width: 100%;                        
                        margin: 0 0 20px 0;
                        h2{
                            font-size: 17px;
                            font-weight: 700;
                            color: #000;
                        }
                    }
                    .content{
                        width: 100%;
                        .event-slide-container{
                            width:100%;
                            .event-slide-view{
                                width:100%;
                                overflow: hidden;
                                .event-slide-wrap{
                                    width: 17% * 6;                        
                                    display: flex;
                                    position: relative;
                                    li{
                                        width: 17%;
                                        border-radius: 12px;
                                        overflow: hidden;                                        
                                        margin: 0 30px 0 0;                                        
                                        a{
                                            position: relative;
                                            display: block;
                                            width: 100%;
                                            height: 286px;      
                                            overflow: hidden;                                      
                                            img{
                                                position: absolute;
                                                z-index: 2;
                                                top: 50%;
                                                left: 50%;
                                                transform: translate(-50%, -50%);
                                                height: 100%;
                                                transition: all 0.3s;
                                                &:hover{
                                                    transform: translate(-50%, -50%) scale(1.1);
                                                }
                                            }
                                            span{
                                                position: absolute;
                                                z-index: 3;
                                                bottom: 10px;
                                                left: 10px;
                                                color: #fff;
                                                font-size: 15px;
                                                font-weight: 700;
                                                background: rgba(0,0,0,0.1);
                                            }
                                        }
                                        
                                    }
                                }
                                .event-slide-wrap-sub3{
                                    width: 33.8%*8;
                                    >li{
                                        width: 33.8%;
                                        margin: 0 16px 0 0;
                                        border-radius: 12px;
                                        >a{
                                            width: 100%;
                                            height: 115px;
                                            >img{
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                                
                            }                            
                        }
                    }
                }
            }
            .left-arrow-btn {
                position: absolute;
                left: 12%;
                top: 60%;
                z-index: 2;
                transform: translateY(-50%);
                box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px ;
                border-radius: 50%;
                width: 50px;
                pointer-events: none;
                // opacity: 0;
                img {
                    width:100%; 
                }
                &.on{
                    pointer-events: auto;
                    opacity: 1;                   
                }
            }
            .right-arrow-btn {
                position: absolute;
                right: 12%;
                top: 60%;
                z-index: 2;
                transform: translateY(-50%);
                box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px ;
                border-radius: 50%;
                width: 50px;
                pointer-events: none;
                opacity: 0;
                img {
                    width:100%;
                }
                &.on{
                    pointer-events: auto;
                    opacity: 1;                  
                }
            }
        }
        }
        #section6{
            width: 100%;
            margin: 0 0 60px 0;
            .container{
                width: 1280px;
                margin: 0 auto;
                .gap{
                    width: 100%;
                    .title{
                        width: 100%;  
                        margin: 0 0 20px 0;
                        h2{
                            font-size: 17px;
                            font-weight: 700;
                            color: #000;
                        }
                    }
                    .content{
                        width: 100%;
                        .nav{       
                            width: 100%;                     
                            margin: 0 0 40px 0;
                            ul{
                                width: 100%;
                                display: flex;                                
                                
                                li{
                                    width: 100%;
                                    text-align: center;
                                    padding: 16px 0 20px 0;
                                    border-top: 1px solid #ccc;                                    
                                    border-right: 1px solid #ccc;
                                    border-bottom: 2px solid #000;
                                    a{
                                        display: block;
                                        width: 100%;
                                        font-size: 17px;
                                        line-height: 1.5;
                                        color: #666;
                                    }
                                    &:nth-child(1){
                                        border-left: 1px solid #ccc;
                                    }
                                    &.on{
                                        border: 2px solid #000;
                                        border-bottom: none;
                                        a{                                            
                                            font-weight: 700;
                                            color: #000;
                                        }                                        
                                    }
                                }
                            }
                        }
                        .content-box{
                            >ul{
                                width: 100%;
                                display: none;
                                &.on{display: flex;}
                                >li{
                                    position: relative;
                                    width: 25%;
                                    margin: 0 30px 0 0;
                                    &:last-child{
                                        margin: 0;
                                    }
                                    a{
                                        .img-box{
                                            overflow: hidden;
                                            border-radius: 12px;
                                            height: 180px;
                                            img{
                                                width: 100%;
                                                height: 100%;
                                                transition: all 0.3s;
                                                &:hover{
                                                    transform: scale(1.1);
                                                }
                                            }
                                        }
                                        .text-box{
                                            padding: 12px 4px 0 4px;
                                            ul{
                                                li{
                                                    h3{
                                                        font-size: 15px;
                                                        color: #000;
                                                        font-weight: 700;
                                                    }
                                                    span{
                                                        font-size: 13px;
                                                        font-weight: 400;
                                                        color: #666;
                                                    }
                                                    strong{
                                                        font-size: 17px;
                                                        font-weight: 700;
                                                        color: #000;
                                                    }
                                                    em{
                                                        font-size: 13px;
                                                    }
                                                    &:nth-child(2){
                                                        margin: 4px 0 8px 0;
                                                    }
                                                }
                                            }
                                        }
                                    }                                    
                                    button{
                                        position: absolute;
                                        top: 15px;
                                        right: 15px;
                                        width: 22px;
                                        background: none;
                                        border: 0;
                                        cursor: pointer ;
                                        img{
                                            width: 100%;
                                            &.heart-on{
                                                display: none;
                                            }
                                        }
                                        &.on{
                                            img{
                                                &.heart-off{
                                                    display: none;
                                                }
                                                &.heart-on{
                                                    display: block;
                                                }
                                            }
                                        }
                                    }  
                                }
                            }
                        }
                    }
                    .bottom{
                        width: 100%;                        
                        margin: 60px 0 0 0;
                        text-align: center;
                        a{
                            display: block;
                            position: relative;
                            width: 100%;
                            
                            border: 1px solid #ccc;
                            border-radius: 12px;
                            padding: 12px 0;
                            
                            h3{
                                font-size: 15px;
                                color: #666;
                                line-height: 1.5;
                                img{                                    
                                    width: 12px;
                                    height: 12px;
                                    margin: 0 0 2px 5px;
                                } 
                                
                            }   
                                        
                                
                            
                            
            
                        }
                    }
                }
            }
        }
        #section7{
            width: 100%;
            margin: 0 0 60px 0;
            .container{
                width: 1280px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                a{
                    display: flex;
                    position: relative;
                    background: #f8f8f8;
                    border-radius: 12px;
                    width: 299px;
                    height: 121px;
                    padding: 19px 24px;
                    i{
                        margin: 9px 16px 0 0;
                    }
                    ul{
                        li{
                            width: 100%;
                            h2{
                                font-size: 15px;
                                font-weight: 700;
                                line-height: 1.5;
                                color: #000;
                            }
                            h3{
                                font-size: 13px;
                                line-height: 1.5;
                            }
                        }
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 28px;
                        width: 15px;
                        height: 15px;
                        border-top: 2px solid #999;
                        border-right: 2px solid #999;
                        transform: translateY(-50%) rotate(45deg);
                    }
                }
            }
        }
    }

