 #Main1{
    width: 100%;
    #section1{
        width: 100%;
        position: relative;
        .container{
            width: 100%;
            padding-bottom: 32px;
            .gap{
                width: 100%;
                padding: 0;
                .back-image{
                    width: 100%;
                    height: 249px;
                    background: url(../img/main1/mainVisualPalmtree.jpg);
                    background-size: cover;                  
                    .back-gap{
                        width: 1280px;
                        margin: 0 auto;                        
                        display: flex;
                        justify-content: flex-end;
                        padding: 50px 0 13px 0;
                        h4{
                            text-align: right;
                            height: 30px;
                            line-height: 30px;
                            font-size: 12px;
                            font-weight: 600; 
                            color: #000;

                        }
                        button{
                            width: 125px;
                            height: 30px;
                            border: 1px solid #000;
                            border-radius: 8px;
                            background-color: rgba(255,255,255,0);
                            font-size: 12px;
                            font-weight: 600;
                            margin: 0 0 0 7px;                          
                            img{
                                transform: translate(3px, -1px);
                            }
                        }
                    }
                    .ticketing{
                        width: 1280px;
                        margin: 0 auto;
                        background: #fff;
                        border-radius: 15px;
                        .ticketing-gap{
                            border-radius: 15px;
                            box-shadow: 0 5px 5px #ccc;
                            .up{
                                height: 75px;
                                line-height: 75px;
                                display: flex;
                                justify-content: space-between;
                                border-bottom: 1px solid #ddd;
                                padding: 0 10px;
                                .btn{
                                    
                                    button{
                                        height: 40px;
                                        border: 0;
                                        border-radius: 20px;
                                        background: #eee;
                                        padding: 9px 20px;
                                        margin: 0 6px;
                                        font-size: 18px;
                                        font-weight: 500;
                                        color: #333;
                                        &:hover{
                                            font-size: 18px;
                                            font-weight: 600;
                                            color: #fff;
                                            background: #333; 
                                        }
                                    }
                                }
                                span{
                                    color: #666;
                                    font-size: 13px;
                                    input{
                                        border: 1px solid #666;
                                    }
                                }
                            }
                            .down{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 111px;
                                padding: 0 25px;
                                .start-end{
                                    display: flex;
                                    justify-content: space-between;
                                    width: 564px;
                                    .start{
                                        padding: 0 42px 0 0;                                                                            
                                        h4{
                                            font-size: 16px;
                                            font-weight: 700;
                                            color: #999;                                       
                                            padding-bottom: 10px;
                                        }
                                        a{
                                            font-size: 22px;
                                            font-weight: 700; 
                                            color: #999;                                               
                                        }
                                    }
                                    .airplane{
                                        position: relative;
                                        img{
                                            position: absolute;

                                        }
                                    }
                                    .arrive{
                                        padding: 0 42px 0 0; 
                                        h4{
                                            font-size: 16px;
                                            font-weight: 700;
                                            color: #999;
                                            padding-bottom: 10px;
                                        }
                                        a{
                                            font-size: 22px;
                                            font-weight: 700;
                                            color: #999;      
                                        }
                                    }
                                }
                                .date{
                                    position: relative;
                                    width: 282px;
                                    height: 100%;
                                    padding: 30px 25px;
                                    border-left: 1px solid #eee;
                                    border-right: 1px solid #eee;
                                    h4{
                                        font-size: 16px;
                                        font-weight: 700;
                                        color: #999;
                                        padding-bottom: 10px;
                                    }
                                    a{
                                        font-size: 22px;
                                        font-weight: 700;
                                        color: #999;    
                                    }
                                }
                                .people{
                                    width: 252px;
                                    padding: 0 0 0 30px;
                                    h4{
                                        font-size: 16px;
                                        font-weight: 700;
                                        color: #999;
                                        padding-bottom: 10px;
                                    }
                                    a{
                                        font-size: 22px;
                                        font-weight: 700;  
                                        color: #000;
                                    }
                                }
                                .btn-box{
                                    width: 132px;
                                    button{
                                        width: 100%;
                                        height: 70px;
                                        background: #f85358;
                                        color: #fff;
                                        font-size: 18px;
                                        font-weight: 700;
                                        border: 0;
                                        border-radius: 13px;
                                        transition: all 0.3s;
                                        cursor: pointer;
                                        &:hover{
                                            background-color: #f1282f;
                                        }
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
    #section2{
        width: 100%;
        .container{
            width: 100%;
            .gap{
                width: 1280px;
                margin: 0 auto;
                ul{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 50px 58px;
                    li{      
                        text-align: center;
                        span{
                            display: block;
                            width: 77px;
                            height: 26px;
                            line-height: 26px;
                            border: 1px solid #ef3e43;
                            border-radius: 20px;
                            font-size: 12px;
                            font-weight: 700;
                            color: #ef3e43;
                            text-align: center;
                        }
                        .white{
                            border: 1px solid #fff;                            
                        }
                        img{
                            width: 68px;
                            height: 68px;
                            transition: all 0.3s;
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                        p{
                            text-align: center;
                            font-size: 13px;
                            font-weight: 700;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
    #section3{
        width: 100%;
        .container{
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            .gap{
                width: 100%;
                .title{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin: 0 0 12px 0;
                    h3{
                        font-size: 20px;
                        font-weight: 700;
                        color: #000;
                    }
                    button{
                        border: 0;
                        background: #fff;
                        font-size: 13px;
                        color: #666;
                        font-weight: 400;
                        cursor: pointer;
                        span{
                            margin: 0 4px 0 4px;
                            display: inline-block;
                            border: 1px solid #000;
                            border-color: transparent transparent transparent #999;
                            border-width: 5px 0 5px 5px;
                        }
                    }
                }
                .content{
                    width: 100%;
                    display: flex;
                    .left-box{
                        width: 810px;
                        position: relative;
                        .slide-container{
                            width: 100%;
                            .slide-view{
                                width: 100%;
                                height: 420px;
                                overflow: hidden;
                                border-radius: 15px;
                                .slide-wrap{
                                    width: 100% * 12;
                                    height: 100%;
                                    display: flex;
                                    position: relative;
                                    margin: 0 0 0 -100%;
                                    .slide{
                                        width: 100%;
                                        a{
                                            display: block;
                                            width: 100%;
                                            img{
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .page-btn-box{
                            position: absolute;
                            bottom: 40px;
                            left: 50px;
                            display: flex;
                            .page-btn{
                                display: block;
                                width: 25px;
                                height: 25px;
                                background: rgba(0, 0, 0, 0.4);
                                border-radius: 50%;
                                color: #fff;
                                font-size: 12px;
                                font-weight: 700;
                                text-align: center;
                                padding: 5.5px 0;
                                margin: 0 0 0 7px;
                                &:first-child{
                                    margin: 0;
                                }
                                &.on{
                                    background: #000;
                                }
                            }
                        }
                    }
                    .right-box{
                        width: 450px;
                        margin: 0 0 0 20px;
                        ul{
                            width: 100%;
                            li{
                                width: 100%;
                                height: 200px;
                                overflow: hidden;
                                border-radius: 15px;
                                &:last-child{
                                    margin: 20px 0 0 0;
                                }
                                a{
                                    display: block;
                                    width: 100%;
                                    img{
                                        width: 100%;
                                        height: auto;
                                        margin: -10px 0 0 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #section4{
        width: 100%;
        .container{
            width: 100%;
            .gap{
                width: 1280px;
                margin: 0 auto;
                padding: 107px 0 0 0;
                .title{
                    h3{
                        font-size: 20px;
                        font-weight: 700;
                        color: #000;                        
                    }
                    .btn-box{
                        display: flex;
                        justify-content: flex-end;
                        button{
                            border: 0;
                            border-radius: 8px;
                            background: #eee;
                            font-size: 14px;
                            font-weight: 400;
                            padding: 7px 10px;
                            margin: 0 5px;
                            &.on{
                                background: #333;
                                color: #fff;
                                font-weight: 700;
                            }                            
                        }

                    }

                }
                .content{
                    width: 100%;
                    padding: 15px 0;                    
                    ul{
                        width: 100%;
                        li{
                            width: 100%;
                            display: none;
                            justify-content: space-between;
                            &.on{
                                display: flex;
                            }
                            .tripcity-box{                        
                                a{
                                    >figure{
                                        border-radius: 8px;
                                        overflow: hidden;
                                        img{
                                            width: 232px;
                                            height: 232px;
                                            transition: all 0.3s;
                                            &:hover{
                                                transform: scale(1.1);
                                            }
                                        }
                                    }
                                    
                                    h3{
                                        font-size: 16px;
                                        font-weight: 700;
                                        color: #000;
                                        padding-top: 20px;
                                    }
                                    h5{
                                        font-size: 14px;                                
                                        color: #000;
                                        padding-top: 10px;
                                    }
                                    h2{
                                        font-size: 20px;
                                        font-weight: 700;
                                        color: #000;
                                        padding-top: 30px;
                                    }
                                }
                            }
                        }
                    }
                    
                }
                p{
                    text-align: center;
                    padding: 30px 0;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }
    }
    #section5{
        width: 100%;
        .container{
            width: 100%;
            .gap{
                width: 1280px;
                margin: 0 auto;
                padding: 107px 0 0 0;
                .title{
                    width: 100%;
                    position: relative;
                    .btn-box{
                        width: 100%;
                        ul{
                            width: 100%;
                            li{
                                width: 100%;
                                display: none;
                                align-items: center;
                                &.on{
                                    display: block;
                                }
                                span{
                                    margin: 0 0 0 10px;
                                    font-size: 20px;
                                    font-weight: 700;
                                    color: #000;
                                    
                                }
                                button{
                                    width: 90px;
                                    height: 40.4px;
                                    background: #333;
                                    color: #fff;
                                    border: 0;
                                    border-radius: 20px;
                                    padding: 7px 15xp 9px 0;
                                    font-size: 18px;
                                    font-weight: 700;
                                    cursor: pointer;
                                    img{
                                        transform: translateY(-3px);
                                    }
        
                                    &.on{
                                        img{
                                            transform: translateY(-3px) rotate(-180deg);
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                    .select-area{
                        position: absolute;
                        z-index: 2;
                        top: 50px;
                        transition: all 0.2s;
                        opacity: 0;
                        &.on{
                            opacity: 1;
                        }
                        ul{
                            width: 140px;
                            display: flex;
                            border-radius: 12px;
                            overflow: hidden;
                            box-shadow: 1px 1px 5px 0;
                            li{
                                width: 50%;
                                border-right: 2px solid #ddd;
                                text-align: center;
                                padding: 15px 0;
                                background: #fff;
                                color: #333;
                                font-size: 15px;
                                font-weight: 700;
                                letter-spacing: 1px;
                                cursor: pointer;
                                &:nth-child(2){
                                    border-right: none;
                                }
                            }
                        }
                    }

                }
                .content{
                    width: 100%;
                    padding: 15px 0; 
                    ul{
                        width: 100%;
                        li{
                            width: 100%;
                            display: none;
                            justify-content: space-between;
                            &.on{
                                display: flex;
                            }
                            .tripcity-box{                        
                                a{
                                    figure{
                                        overflow: hidden;
                                        border-radius: 8px;
                                        img{
                                            width: 232px;
                                            height: 232px;
                                            transition: all 0.3s;
                                            &:hover{
                                                transform: scale(1.1);
                                            }
                                        }
                                    }
                                    
                                    h3{
                                        font-size: 16px;
                                        font-weight: 700;
                                        color: #000;
                                        padding-top: 20px;
                                    }
                                    h5{
                                        font-size: 14px;                                
                                        color: #000;
                                        padding-top: 10px;
                                    }
                                    h2{
                                        font-size: 20px;
                                        font-weight: 700;
                                        color: #000;
                                        padding-top: 30px;
                                    }
                                }
                            }
                        }
                    }
                        
                }
                    
            }
 
        }
    }
    
    #section6{
        width: 100%;
        .container{
            width: 100%;
            .gap{
                position: relative;
                width: 1280px;
                margin: 0 auto;
                padding: 107px 0 0 0;
                .title{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    h3{
                        font-size: 20px;
                        font-weight: 700;
                        color: #000;
                    }
                    .all-view{
                        display: flex;
                        align-items: center;
                        .page-count-box{
                            display: flex;
                            align-items: center;
                            height: 100%;
                            margin: 0 10px 0 0;
                            font-weight: 700;
                            color: #999;
                        }
                        button{
                            border: 0;
                            background: #fff;
                            font-size: 13px;
                            color: #666;
                            font-weight: 400;
                            cursor: pointer;
                            >span{
                                margin: 0 4px 0 4px;
                                display: inline-block;
                                border: 1px solid #000;
                                border-color: transparent transparent transparent #999;
                                border-width: 5px 0 5px 5px;
                            }
                        }
                    }
                }
                .content{
                    width: 100%;
                    position: relative;
                    .slide-container{
                        width: 100%;
                        .slide-view{
                            width: 100%;
                            overflow: hidden;
                            .slide-wrap{
                                width: 100% * 17;
                                display: flex;
                                position: relative;
                                .slide{
                                    width: 50%;
                                    img{
                                        width: 624px;
                                        height: 306px;
                                        background-size: cover;
                                        border-radius: 15px; 
                                    }

                                                                      
                                }   
                            }
                        }
                    }
                }
                .left-arrow{
                    position: absolute;
                    left: -85px;
                    top: 55%;
                }
                .right-arrow{
                    position: absolute;
                    right: -85px;
                    top: 55%;
                    transform: rotate(180deg);
                }
            }
        }
    }
    #section7{
        width: 100%;
        .container{
            width: 100%;
            .gap{
                width: 1280px;
                margin: 0 auto;
                padding: 107px 0 0 0;
                .title{
                    width: 100%;                    
                    h3{
                        font-size: 20px;
                        font-weight: 700;
                        color: #000;
                    }
                    a{   
                        display: block; 
                        width: 100%;                 
                        text-align: right;
                        font-size: 14px;
                        padding: 0 0 20px 0;
                        background: #fff;
                        height: 25px;
                        &::before{
                            display: none;
                        }
                    }
                }
                .content{
                    width: 100%;
                    button{
                        width: 298px;
                        height: 119px;
                        background: #26cec1;
                        border: 0;
                        border-radius: 15px;
                        margin: 0 28px 0 0;
                        &:last-child{
                            margin: 0;
                        }                        
                        h5{
                            font-size: 14px;
                            color: #fff;
                        }
                        h2{
                            position: relative;
                            font-size: 30px;
                            font-weight: 700;
                            color: #fff;
                            
                            span{                                
                                display: inline-block;
                                position: absolute;
                                top: 32%;
                                right: 20px;
                                width: 15px;
                                height: 15px;
                                border-top: 2px solid #fff;
                                border-right: 2px solid #fff;
                                transform: rotate(45deg);
                            }
                        }
                        h6{
                            font-size: 12px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    #section8-1{
        width: 100%;
        .container{
            width: 100%;
            .gap{
                width: 1280px;
                margin: 0 auto;
                padding: 107px 0 0 0;
                .title{
                    width: 100%;
                    h3{
                        font-size: 20px;
                        font-weight: 700;
                        color: #000;
                        padding-bottom: 20px;
                    }
                }
                .content{
                    width: 100%;
                    .customer{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 45px;
                        .box1{
                            width: 298px;
                            height: 230px;
                            padding: 25px 30px;
                            background: #f3f3f3;
                            border: 0;
                            border-radius: 15px;                          
                            .b1{
                                width: 100%;
                                padding-bottom: 25px;
                                h5{
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: #000;
                                    padding-bottom: 10px;
                                }
                                h6{
                                    font-size: 16px;                  
                                    color: #000;
                                    padding-bottom: 10px;
                                }
                            }

                        }
                        .box2{
                            width: 358px;
                            height: 230px;
                            .question{
                                width: 298px;
                                height: 105px;                               
                                padding: 13px 20px 0 20px;
                                background: #f3f3f3;
                                border: 0;
                                border-radius: 15px;
                                margin-bottom: 20px;  
                                display: flex;
                                justify-content: space-between;
                                &:nth-child(2){
                                    padding: 21px 20px;
                                }
                                .butler{
                                    width: 60px;
                                    height: 92px;
                                
                                }
                                .img-que{
                                    width: 60px;
                                    height: 62px;
                                }
                                .text{
                                    h5{
                                        font-size: 16px;
                                        font-weight: 700;
                                        color: #000;
                                        padding-bottom: 10px;
                                    }
                                    h6{
                                        font-size: 14px;                  
                                        color: #000;
                                        padding-bottom: 10px;
                                    }
                                }
                                .txt-que{
                                    padding-top:8px;
                                }
                                span{
                                    display: inline-block;
                                    width: 15px;
                                    height: 15px;
                                    border-top: 2px solid #999;
                                    border-right: 2px solid #999;
                                    margin-top: 20px;
                                    transform: rotate(45deg);                                                                                                      
                                }
                                .butler-span{
                                    margin-top: 30px;
                                }
                            }
                        }
                        .box3{
                            width: 594px;
                            height: 230px;
                            display: flex;
                            justify-content: space-between;
                            > .reservation1{
                                width: 198px;
                                h5{
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: #000;
                                    padding-bottom: 20px;
                                }
                                > a{
                                    display: block;
                                    font-size: 14px;
                                    color: #000;
                                    padding-bottom: 18px;
                                }
                            }
                            > .reservation2{
                                width: 198px;
                                > a{
                                    display: block;
                                    font-size: 14px;
                                    color: #000;
                                    padding-bottom: 18px;
                                    &:first-child{
                                        padding-top: 36px;
                                    }
                                }
                            }
                            .group{
                                width: 198px;
                                h5{
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: #000;
                                    padding-bottom: 20px; 
                                }
                                a{
                                    display: block;
                                    font-size: 14px;
                                    color: #000;
                                    padding-bottom: 18px;
                                }
                            }
                        }
                        
                    }
                    p{
                        height: 26px;                    
                        text-align: center;
                        font-size: 14px;
                        font-weight: 700;
                        color: #666;
                        a{
                            display: inline-block;
                            text-decoration: underline;
                            height: 26px;
                            line-height: 26px;                        
                        }
                    }
                }

            }
        }
    }
    #section9{
        width: 100%;
        padding: 107px 0 0 0;
        .bottom-banner{
            width: 100%;
            height: 164px;
            background: #2e68fa;       
            img{
                display: block;
                margin: 0 auto;
            }
        }
    }
}