#main4{
    width: 100%;
    #section1{
        width: 100%;
        background: url(../img/main4/background-search.jpg) no-repeat 50% 0;
        background-size: auto;
        padding: 120px 0 40px 0;
        .container{            
            width: 100%;
            max-width: 1903px;
            margin: 0 auto;
            .gap{
                width: 100%;
                .search-box{
                    width: 544px;
                    height: 50px;
                    margin: 0 auto;
                    overflow: hidden;
                    label{
                        display: block;
                        width: 100%;
                        height: 50px;
                        position: relative;
                        z-index: 3;
                        &::after{
                            content: '';
                            position: absolute;
                            top: 12px;
                            left: 18px;
                            background: url(../img/main4/icon-search.png) no-repeat 50% 50%;
                            width: 25px;
                            height: 25px;
                            cursor: pointer;
                        }
                        input{
                            width: 100%;
                            height: 50px;
                            padding: 0 20px 0 60px;
                            background: #fff;
                            border-radius: 50px;
                            color: #000;
                            font-size: 18px;
                            line-height: 50px;
                            border: 0;
                            outline: 0;
                            &::placeholder{
                                color: #999;
                            }
                        }
                    }
                    .search-container{
                        width: 100%;
                        background: #fff;
                        position: relative;
                        z-index: 2;
                        border-bottom-left-radius: 25px;
                        border-bottom-right-radius: 25px;
                        &::after{
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 20px;
                            width: 504px;
                            height: 1px;
                            background: #000;
                        }
                        .search-gap{
                            width: 100%;
                            padding: 25px 20px;
                            .search-content{
                                width: 100%;
                                height: 354px;
                                overflow-y: auto;
                                .search-top-box{
                                    width: 100%;
                                    margin: 0 0 15px 0;
                                    h3{
                                        width: 100%;
                                        height: 21px;
                                        font-size: 16px;
                                        color: #000;
                                        margin: 0 0 15px 0;
                                        font-weight: 700;
                                        padding: 0 0 0 5px;
                                        line-height: 21px;
                                    }
                                    ul{
                                        width: 100%;
                                        li{
                                            display: inline-block;
                                            margin: 0 10px 10px 0;
                                            a{
                                                display: block;
                                                padding: 0 15px;
                                                line-height: 30px;
                                                color: #333;
                                                font-size: 14px;
                                                border: 1px solid #ccc;
                                                border-radius: 30px;
                                            }
                                        }
                                    }
                                }
                                .search-bottom-box{
                                    width: 100%;
                                    h3{
                                        width: 100%;
                                        height: 21px;
                                        font-size: 16px;
                                        color: #000;
                                        margin: 0 0 15px 0;
                                        font-weight: 700;
                                        padding: 0 0 0 5px;
                                        line-height: 21px;
                                    }
                                    ul{
                                        width: 100%;
                                        li{
                                            display: inline-block;
                                            margin: 0 10px 10px 0;
                                            a{
                                                display: block;
                                                padding: 0 15px;
                                                line-height: 30px;
                                                color: #333;
                                                font-size: 14px;
                                                border: 1px solid #ccc;
                                                border-radius: 30px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:focus-within{
                        overflow: visible;
                        background: #fff;
                        border-top-left-radius: 25px;
                        border-top-right-radius: 25px;
                        height: 60px;
                        padding: 10px 0 0 0;
                        margin: -10px auto 0 auto;
                    }
                }
            }
        }
    }
    #section2{
        width: 100%;
        .container{
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            .gap{
                width: 100%;
                padding: 45px 35px 50px 35px;
                .content{
                    width: 100%;
                    ul{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        li{
                            width: 98px;
                            margin: 0 0 0 20px;
                            position: relative;
                            &:first-child{
                                margin: 0;
                            }
                            &:nth-child(1),
                            &:nth-child(2),
                            &:nth-child(3){
                            &::after{
                                content: '';
                                position: absolute;
                                top: 5px;
                                right: 22px;
                                background: #ef3e42;
                                width: 10px;
                                height: 10px;
                                border-radius: 100%;
                                }
                            }
                            a{
                                display: block;
                                margin: 0 auto;
                                img{
                                    width: 65px;
                                    padding: 11px;
                                    background: #f2f2f2;
                                    border-radius: 50%;
                                }
                                span{
                                    display: block;
                                    width: 100%;
                                    height: 17px;
                                    font-size: 13px;
                                    margin: 12px 0 0 0;
                                    color: #666;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #section3{
        width: 100%;
        .container{
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            .gap{
                width: 100%;
                .content{
                    width: 100%;
                    display: flex;
                    .left-box{
                        width: 810px;
                        position: relative;
                        .slide-container{
                            width: 100%;
                            .slide-view{
                                width: 100%;
                                height: 420px;
                                overflow: hidden;
                                border-radius: 15px;
                                .slide-wrap{
                                    width: 100% * 8;
                                    height: 100%;
                                    display: flex;
                                    position: relative;
                                    margin: 0 0 0 -100%;
                                    .slide{
                                        width: 100%;
                                        a{
                                            display: block;
                                            width: 100%;
                                            img{
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .page-btn-box{
                            position: absolute;
                            bottom: 40px;
                            left: 50px;
                            display: flex;
                            .page-btn{
                                display: block;
                                width: 25px;
                                height: 25px;
                                background: rgba(0, 0, 0, 0.4);
                                border-radius: 50%;
                                color: #fff;
                                font-size: 12px;
                                font-weight: 700;
                                text-align: center;
                                padding: 5.5px 0;
                                margin: 0 0 0 7px;
                                &:first-child{
                                    margin: 0;
                                }
                                &.on{
                                    background: #000;
                                }
                            }
                        }
                    }
                    .right-box{
                        width: 450px;
                        margin: 0 0 0 20px;
                        ul{
                            width: 100%;
                            li{
                                width: 100%;
                                height: 200px;
                                overflow: hidden;
                                border-radius: 15px;
                                &:last-child{
                                    margin: 20px 0 0 0;
                                }
                                a{
                                    display: block;
                                    width: 100%;
                                    img{
                                        width: 100%;
                                        height: auto;
                                        margin: -10px 0 0 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #section4{
        width: 100%;
        .container{
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            .gap{
                width: 100%;
                margin: 90px 0 62px 0;
                .title{
                    width: 100%;
                    h2{
                        width: 100%;
                        font-size: 20px;
                        font-weight: 700;
                        color: #000;
                    }
                }
                .content{
                    width: 100%;
                    position: relative;
                    .slide-container{
                        width: 100%;
                        padding: 20px 12px 0 12px;
                        .slide-view{
                            width: 100%;
                            overflow: hidden;
                            .slide-wrap{
                                width: 20% * 18;
                                display: flex;
                                position: relative;
                                .slide{
                                    width: 20%;
                                    margin: 0 24px 0 0;
                                    a{
                                        display: block;
                                        width: 100%;
                                        &:hover{
                                            img{
                                                box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
                                            }
                                        }
                                        figure{
                                            width: 232px;
                                            height: 232px;
                                            img{
                                                width: 100%;
                                                height: 100%;
                                                border-radius: 50%;
                                                transition: all 0.3s;
                                            }
                                        }
                                        span{
                                            display: block;
                                            width: 100%;
                                            height: 21px;
                                            margin: 20px 0 0 0;
                                            font-size: 16px;
                                            font-weight: 700;
                                            color: #000;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .prev-btn{
                        position: absolute;
                        top: 120px;
                        left: -26px;
                        display: block;
                        width: 50px;
                        height: 50px;
                        background: url(../img/main4/slide-round-arrow.png) no-repeat 0 0;
                        background-size: 50px auto;
                        border-radius: 50%;
                        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
                        &:hover{
                            background-position: 0 -70px;
                        }
                    }
                    .next-btn{
                        position: absolute;
                        top: 120px;
                        right: -26px;
                        display: block;
                        width: 50px;
                        height: 50px;
                        background: url(../img/main4/slide-round-arrow.png) no-repeat 0 -140px;
                        background-size: 50px auto;
                        border-radius: 50%;
                        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
                        &:hover{
                            background-position: 0 -210px;
                        }
                    }
                }
            }
        }
    }
    #section5{
        width: 100%;
        background: #f4f6f9;
        .container{
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            .gap{
                width: 100%;
                padding: 60px 0 70px;
                .content{
                    width: 100%;
                    display: flex;
                    .left-box{
                        width: 624px;
                        .title{
                            width: 100%;
                            height: 27px;
                            display: flex;
                            justify-content: space-between;
                            margin: 0 0 20px 0;
                            h2{
                                font-size: 20px;
                                font-weight: 700;
                                color: #000;
                            }
                            .page-box{
                                display: flex;
                                line-height: 23px;
                                p{
                                    font-size: 12px;
                                    color: #999;
                                }
                                i{
                                    margin: 0 2px;
                                    font-size: 12px;
                                }
                                .page-btn-box{
                                    margin: 0 0 0 5px;
                                    .prev-btn{
                                        display: inline-block;
                                        background: #fff;
                                        width: 22px;
                                        height: 23px;
                                        border: 1px solid #b6bdc7;
                                        border-right: 0;
                                        position: relative;
                                        &::after{
                                            content: '';
                                            position: absolute;
                                            top: 5px;
                                            left: 8px;
                                            border-top: 5px solid transparent;
                                            border-bottom: 5px solid transparent;
                                            border-right: 5px solid #333;
                                        }
                                    }
                                    .next-btn{
                                        display: inline-block;
                                        background: #fff;
                                        width: 22px;
                                        height: 23px;
                                        border: 1px solid #b6bdc7;
                                        position: relative;
                                        &::after{
                                            content: '';
                                            position: absolute;
                                            top: 5px;
                                            right: 8px;
                                            border-top: 5px solid transparent;
                                            border-bottom: 5px solid transparent;
                                            border-left: 5px solid #333;
                                        }
                                    }
                                }
                            }
                        }
                        .slide-box{
                            width: 100%;
                            .slide-container{
                                width: 100%;
                                .slide-view{
                                    width: 100%;
                                    overflow: hidden;
                                    .slide-wrap{
                                        width: 50%*11;
                                        position: relative;
                                        display: flex;
                                        margin: 0 0 0 -327px;
                                        .slide{
                                            width: 297px;
                                            margin: 0 30px 0 0;
                                            border: 1px solid rgba(78, 78, 78, 0.2);
                                            a{
                                                width: 100%;
                                                figure{
                                                    width: 100%;
                                                    img{
                                                        width: 295px;
                                                        height: 282px;
                                                    }
                                                }
                                                div{
                                                    width: 100%;
                                                    padding: 25px 0 35px 0;
                                                    text-align: center;
                                                    background: #fff;
                                                    span{
                                                        display: block;
                                                        width: 100%;
                                                        height: 18px;
                                                        font-size: 14px;
                                                        color: #000;
                                                    }
                                                    strong{
                                                        margin: 10px 0 0 0;
                                                        display: block;
                                                        width: 100%;
                                                        height: 24px;
                                                        color: #000;
                                                        font-size: 18px;
                                                        font-weight: 700;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .right-box{
                        width: 624px;
                        margin: 0 0 0 30px;
                        .title{
                            width: 100%;
                            height: 27px;
                            display: flex;
                            justify-content: space-between;
                            margin: 0 0 20px 0;
                            h2{
                                font-size: 20px;
                                font-weight: 700;
                                color: #000;
                            }
                            .page-box{
                                display: flex;
                                line-height: 23px;
                                p{
                                    font-size: 12px;
                                    color: #999;
                                }
                                i{
                                    margin: 0 2px;
                                    font-size: 12px;
                                }
                                .page-btn-box{
                                    margin: 0 0 0 5px;
                                    .prev-btn{
                                        display: inline-block;
                                        background: #fff;
                                        width: 22px;
                                        height: 23px;
                                        border: 1px solid #b6bdc7;
                                        border-right: 0;
                                        position: relative;
                                        &::after{
                                            content: '';
                                            position: absolute;
                                            top: 5px;
                                            left: 8px;
                                            border-top: 5px solid transparent;
                                            border-bottom: 5px solid transparent;
                                            border-right: 5px solid #333;
                                        }
                                    }
                                    .next-btn{
                                        display: inline-block;
                                        background: #fff;
                                        width: 22px;
                                        height: 23px;
                                        border: 1px solid #b6bdc7;
                                        position: relative;
                                        &::after{
                                            content: '';
                                            position: absolute;
                                            top: 5px;
                                            right: 8px;
                                            border-top: 5px solid transparent;
                                            border-bottom: 5px solid transparent;
                                            border-left: 5px solid #333;
                                        }
                                    }
                                }
                            }
                        }
                        .slide-box{
                            width: 100%;
                            .slide-container{
                                width: 100%;
                                .slide-view{
                                    width: 100%;
                                    overflow: hidden;
                                    .slide-wrap{
                                        width: 50%*11;
                                        position: relative;
                                        display: flex;
                                        margin: 0 0 0 -327px;
                                        .slide{
                                            width: 297px;
                                            margin: 0 30px 0 0;
                                            border: 1px solid rgba(78, 78, 78, 0.2);
                                            a{
                                                width: 100%;
                                                figure{
                                                    width: 100%;
                                                    img{
                                                        width: 295px;
                                                        height: 282px;
                                                    }
                                                }
                                                div{
                                                    width: 100%;
                                                    padding: 25px 0 35px 0;
                                                    text-align: center;
                                                    background: #fff;
                                                    span{
                                                        display: block;
                                                        width: 100%;
                                                        height: 18px;
                                                        font-size: 14px;
                                                        color: #000;
                                                    }
                                                    strong{
                                                        margin: 10px 0 0 0;
                                                        display: block;
                                                        width: 100%;
                                                        height: 24px;
                                                        color: #000;
                                                        font-size: 18px;
                                                        font-weight: 700;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .section6-16{
        width: 100%;
        .container{
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            border-bottom: 1px solid #eee;
            .gap{
                width: 100%;
                margin: 70px 0 0 0;
                padding: 0 0 50px 0;
                .content{
                    width: 100%;
                    display: flex;
                    .left-box{
                        width: 220px;
                        padding: 0 40px 0 0;
                        position: relative;
                        .title{
                            width: 100%;
                            h2{
                                font-size: 20px;
                                font-weight: 700;
                                color: #000;
                                line-height: 30px;
                            }
                            .page-box{
                                position: absolute;
                                bottom: 42px;
                                left: 0;
                                display: flex;
                                line-height: 23px;
                                .page-btn-box{
                                    margin: 0 5px;
                                    .prev-btn{
                                        display: inline-block;
                                        background: #fff;
                                        width: 22px;
                                        height: 23px;
                                        border: 1px solid #b6bdc7;
                                        border-right: 0;
                                        position: relative;
                                        &::after{
                                            content: '';
                                            position: absolute;
                                            top: 5px;
                                            left: 8px;
                                            border-top: 5px solid transparent;
                                            border-bottom: 5px solid transparent;
                                            border-right: 5px solid #333;
                                        }
                                    }
                                    .next-btn{
                                        display: inline-block;
                                        background: #fff;
                                        width: 22px;
                                        height: 23px;
                                        border: 1px solid #b6bdc7;
                                        position: relative;
                                        &::after{
                                            content: '';
                                            position: absolute;
                                            top: 5px;
                                            right: 8px;
                                            border-top: 5px solid transparent;
                                            border-bottom: 5px solid transparent;
                                            border-left: 5px solid #333;
                                        }
                                    }
                                }
                                p{
                                    font-size: 12px;
                                    color: #999;
                                }
                                i{
                                    margin: 0 2px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    .right-box{
                        width: 1060px;
                        .slide-box{
                            width: 100%;
                            .slide-container{
                                width: 100%;
                                .slide-view{
                                    width: 100%;
                                    overflow: hidden;
                                    .slide-wrap{
                                        width: 100%;
                                        position: relative;
                                        display: flex;
                                        margin: 0 0 0 -218px;
                                        .slide{
                                            width: 188px;
                                            margin: 0 30px 0 0;
                                            a{
                                                width: 100%;
                                                &:hover{
                                                    figure{
                                                        img{
                                                            transform: scale(1.2);
                                                        }
                                                    }
                                                }
                                                figure{
                                                    width: 100%;
                                                    overflow: hidden;
                                                    border-radius: 10px;
                                                    img{
                                                        width: 188px;
                                                        height: 188px;
                                                        transition: all 0.3s;
                                                    }
                                                }
                                                div{
                                                    display: -webkit-box;
                                                    width: 100%;
                                                    height: 40px;
                                                    margin: 20px 0 0 0;
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                    -webkit-line-clamp: 2;
                                                    -webkit-box-orient: vertical;
                                                    span{
                                                        display: block;
                                                        width: 100%;
                                                        height: 55px;
                                                        font-size: 14px;
                                                        color: #666;
                                                        line-height: 19px;
                                                    }
                                                }
                                                .price-box{
                                                    width: 100%;
                                                    height: 27px;
                                                    font-size: 20px;
                                                    font-weight: 700;
                                                    em{
                                                        color: #000;
                                                    }
                                                    strong{
                                                        font-weight: 700;
                                                        padding: 0 0 0 10px;
                                                        color: #dc941b;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #section17{
        width: 100%;
        .container{
            width: 100%;
            max-width: 1903px;
            margin: 0 auto;
            .gap{
                width: 100%;
                .content{
                    width: 100%;
                    background: #2e68fa;
                    text-align: center;
                    a{
                        width: 100%;
                        
                        img{
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}