#popup{
    width: 100%;
    .title{
        width: 100%;
        text-align: center;
        background: #aaa;
        h1{
            color: #fff;
            font-size: 22px;
            line-height: 50px;
        }
    }
    .content{
        margin: 10px 10px 10px 20px;
        h2{
            font-size: 16px;
            color: #333;
            margin: 0 0 25px 0;
            font-weight: 700;
            
        }
        h3{
            font-size: 14px;
            color: #000;
            font-weight: 700;
            line-height: 24px;
        }
        h4{
            font-size: 14px;
            font-weight: 700;
            color: #000;
            line-height: 24px;
        }
        p{
            font-size: 14px;
            line-height: 24px;
            color: #666;
        }
    }
}