#intro #section1 {
  width: 100%;
}
#intro #section1 .container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
#intro #section1 .container .gap {
  width: 100%;
  padding: 40px 0 50px 0;
}
#intro #section1 .container .gap .content {
  width: 100%;
  position: relative;
}
#intro #section1 .container .gap .content .slide-container {
  width: 100%;
}
#intro #section1 .container .gap .content .slide-container .slide-view {
  width: 100%;
  overflow: hidden;
}
#intro #section1 .container .gap .content .slide-container .slide-view .slide-wrap {
  width: 850%;
  display: flex;
  position: relative;
  margin: 0 0 0 -1308px;
}
#intro #section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide {
  width: 50%;
  margin: 0 28px 0 0;
}
#intro #section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide a img {
  width: 626px;
  height: 344px;
  border-radius: 16px;
}
#intro #section1 .container .gap .content .prev-btn {
  position: absolute;
  top: 43%;
  left: -23px;
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.13);
}
#intro #section1 .container .gap .content .prev-btn::after {
  content: "";
  position: absolute;
  top: 31%;
  left: 18px;
  width: 10px;
  height: 18px;
  background: url(../../../../../public/img/intro/slide_arrow.svg);
  transform: rotate(180deg);
}
#intro #section1 .container .gap .content .next-btn {
  position: absolute;
  top: 43%;
  right: -23px;
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.13);
}
#intro #section1 .container .gap .content .next-btn::after {
  content: "";
  position: absolute;
  top: 31%;
  right: 18px;
  width: 10px;
  height: 18px;
  background: url(../../../../../public/img/intro/slide_arrow.svg);
}