#intro #section4 {
  width: 100%;
}
#intro #section4 .container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
#intro #section4 .container .gap {
  width: 100%;
  padding: 0 0 90px 0;
}
#intro #section4 .container .gap .title {
  width: 100%;
  margin: 0 0 20px 0;
  text-align: center;
}
#intro #section4 .container .gap .title h2 {
  color: #000;
  font-size: 27px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -2px;
}
#intro #section4 .container .gap .title p {
  font-size: 12px;
  color: #999;
  line-height: 150%;
}
#intro #section4 .container .gap .content {
  width: 100%;
  position: relative;
}
#intro #section4 .container .gap .content .slide-container {
  width: 100%;
}
#intro #section4 .container .gap .content .slide-container .slide-view {
  width: 100%;
  overflow: hidden;
}
#intro #section4 .container .gap .content .slide-container .slide-view .slide-wrap {
  width: 2600px;
  display: flex;
  position: relative;
}
#intro #section4 .container .gap .content .slide-container .slide-view .slide-wrap .slide {
  width: 33.3333333333%;
  margin: 0 20px 0 0;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  overflow: hidden;
}
#intro #section4 .container .gap .content .slide-container .slide-view .slide-wrap .slide a {
  display: flex;
}
#intro #section4 .container .gap .content .slide-container .slide-view .slide-wrap .slide a figure {
  width: 180px;
  height: 180px;
}
#intro #section4 .container .gap .content .slide-container .slide-view .slide-wrap .slide a figure img {
  width: 180px;
  height: 180px;
}
#intro #section4 .container .gap .content .slide-container .slide-view .slide-wrap .slide a div {
  width: 100%;
  padding: 17px 20px;
}
#intro #section4 .container .gap .content .slide-container .slide-view .slide-wrap .slide a div i {
  display: inline-block;
  padding: 0 4px;
  background: #e9f0fe;
  color: #1769ff;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 700;
  line-height: 24px;
  height: 24px;
  letter-spacing: -1px;
  border: 1px solid #73afff;
}
#intro #section4 .container .gap .content .slide-container .slide-view .slide-wrap .slide a div h4 {
  display: -webkit-box;
  color: #000;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1px;
  margin: 8px 0;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#intro #section4 .container .gap .content .slide-container .slide-view .slide-wrap .slide a div em {
  color: #000;
  font-weight: 700;
  font-size: 21px;
  line-height: 150%;
}
#intro #section4 .container .gap .content .slide-container .slide-view .slide-wrap .slide a div span {
  color: #111;
  font-size: 16px;
  line-height: 150%;
}
#intro #section4 .container .gap .content .slide-container .slide-view .slide-wrap .slide a div s {
  display: block;
  color: #999;
  font-size: 15px;
  line-height: 150%;
}
#intro #section4 .container .gap .content .prev-btn {
  position: absolute;
  top: 38%;
  left: -23px;
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.13);
}
#intro #section4 .container .gap .content .prev-btn::after {
  content: "";
  position: absolute;
  top: 31%;
  left: 18px;
  width: 10px;
  height: 18px;
  background: url(../../../../../public/img/intro/slide_arrow.svg);
  transform: rotate(180deg);
}
#intro #section4 .container .gap .content .next-btn {
  position: absolute;
  top: 38%;
  right: -23px;
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.13);
}
#intro #section4 .container .gap .content .next-btn::after {
  content: "";
  position: absolute;
  top: 31%;
  right: 18px;
  width: 10px;
  height: 18px;
  background: url(../../../../../public/img/intro/slide_arrow.svg);
}
#intro #section4 .container .gap .more-view {
  width: 100%;
  margin: 20px 0 0 0;
  text-align: center;
}
#intro #section4 .container .gap .more-view a {
  display: inline-block;
  padding: 0 60px 0 40px;
  height: 58px;
  line-height: 58px;
  color: #000;
  font-size: 14.5px;
  font-weight: 700;
  border: 1px solid #ddd;
  border-radius: 99px;
  letter-spacing: -2px;
  background: url(../../../../../public/img/intro/icon_linkArrow.svg) no-repeat 80% 50%;
}