#sub3_5 {
  width: 100%;
  background: url(../../../../../public/img/sub3/a247f690ff7f48008b013c3af00243b6.jpg) no-repeat 50% 0;
  background-size: auto;
}
#sub3_5 .container {
  width: 100%;
  max-width: 1903px;
  height: 1258px;
  margin: 0 auto;
}
#sub3_5 .container .gap {
  width: 100%;
}
#sub3_5 .container .gap .content {
  width: 750px;
  margin: 0 auto;
  position: relative;
}
#sub3_5 .container .gap .content img {
  width: auto;
}
#sub3_5 .container .gap .content .right-link {
  position: absolute;
  top: 34px;
  right: -100px;
  display: block;
  width: 68px;
  height: 68px;
  overflow: hidden;
  margin: 0 10px 5px 0;
  background: url(../../../../../public/img/sub3/icon_sns.png) no-repeat;
}