#service #section2 {
  width: 100%;
}
#service #section2 .container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
#service #section2 .container .gap {
  width: 100%;
}
#service #section2 .container .gap .content {
  width: 100%;
  margin: 5px 0 0 0;
}
#service #section2 .container .gap .content .top-box {
  width: 100%;
  padding: 10px 0 0 0;
  margin: 0 0 15px 0;
}
#service #section2 .container .gap .content .top-box h3 {
  width: 100%;
  background: url(../../../../../public/img/service/bulRightgreen.gif) no-repeat 0 0;
  padding: 0 0 0 21px;
  margin: 0 0 10px 0;
}
#service #section2 .container .gap .content .top-box h3 img {
  width: auto;
}
#service #section2 .container .gap .content .top-box img {
  width: auto;
}
#service #section2 .container .gap .content .notice-search-box {
  width: 100%;
  height: 41px;
  display: flex;
  background: url(../../../../../public/img/service/bgTabletop01.gif) no-repeat 50% 50%;
  padding: 6px 0 0 28px;
}
#service #section2 .container .gap .content .notice-search-box .search1-box {
  padding: 6px 0 0 0;
  margin: 0 10px 0 0;
}
#service #section2 .container .gap .content .notice-search-box .search1-box > img {
  width: auto;
  margin: 0 10px 0 0;
}
#service #section2 .container .gap .content .notice-search-box .search1-box div {
  display: inline-block;
  width: 100px;
  height: 19px;
}
#service #section2 .container .gap .content .notice-search-box .search1-box div span {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #363636;
  padding: 0 17px 0 0;
  cursor: pointer;
}
#service #section2 .container .gap .content .notice-search-box .search1-box div span input[type=button] {
  width: 100%;
  height: 100%;
  font-size: 11px;
  border: 0;
  text-align: left;
  padding: 3px 0 0 4px;
  background: url(../../../../../public/img/service/basicSelectsBg.gif) no-repeat 0 0;
  cursor: pointer;
}
#service #section2 .container .gap .content .notice-search-box .search1-box div span img {
  width: auto;
  transform: translate(83px, -19px);
}
#service #section2 .container .gap .content .notice-search-box .search1-box div ul {
  width: 100px;
  background: #cff;
  overflow-y: scroll;
  margin: -1px 0 0 0;
  background: #fff;
  border: 1px solid #c0c0c0;
}
#service #section2 .container .gap .content .notice-search-box .search1-box div ul li {
  width: 100%;
}
#service #section2 .container .gap .content .notice-search-box .search1-box div ul li:hover {
  background: #f2f2f2;
}
#service #section2 .container .gap .content .notice-search-box .search1-box div ul li a {
  display: block;
  width: 100%;
  padding: 2px 2px 1px 3px;
  font-size: 11px;
  line-height: 110%;
  color: #363636;
}
#service #section2 .container .gap .content .notice-search-box .search2-box {
  padding: 6px 0 0 0;
}
#service #section2 .container .gap .content .notice-search-box .search2-box > img {
  width: auto;
  margin: 0 10px 0 0;
}
#service #section2 .container .gap .content .notice-search-box .search2-box div {
  display: inline-block;
  width: 47px;
  height: 19px;
}
#service #section2 .container .gap .content .notice-search-box .search2-box div span {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #363636;
  padding: 0 17px 0 0;
  cursor: pointer;
}
#service #section2 .container .gap .content .notice-search-box .search2-box div span input[type=button] {
  width: 100%;
  height: 100%;
  font-size: 11px;
  border: 0;
  text-align: left;
  padding: 3px 0 0 4px;
  background: url(../../../../../public/img/service/basicSelectsBg.gif) no-repeat 0 0;
  cursor: pointer;
}
#service #section2 .container .gap .content .notice-search-box .search2-box div span img {
  width: auto;
  transform: translate(30px, -19px);
}
#service #section2 .container .gap .content .notice-search-box .search2-box div ul {
  width: 47px;
  background: #cff;
  overflow-y: scroll;
  margin: -1px 0 0 0;
  background: #fff;
  border: 1px solid #c0c0c0;
}
#service #section2 .container .gap .content .notice-search-box .search2-box div ul li {
  width: 100%;
}
#service #section2 .container .gap .content .notice-search-box .search2-box div ul li:hover {
  background: #f2f2f2;
}
#service #section2 .container .gap .content .notice-search-box .search2-box div ul li a {
  display: block;
  width: 100%;
  padding: 2px 2px 1px 3px;
  font-size: 11px;
  line-height: 110%;
  color: #363636;
}
#service #section2 .container .gap .content .notice-search-box .search2-box input[type=text] {
  width: 128px;
  height: 16px;
  border: 1px solid #ddd;
  margin: 0 3px 0 4px;
  color: #646464;
  padding: 1px 2px;
}
#service #section2 .container .gap .content .notice-search-box .search2-box a img {
  width: auto;
}
#service #section2 .container .gap .content table {
  width: 100%;
  margin: 11px 0 0 0;
  border-collapse: collapse;
  text-align: center;
}
#service #section2 .container .gap .content table thead {
  width: 100%;
}
#service #section2 .container .gap .content table thead tr th {
  background: url(../../../../../public/img/service/bgTableCell.gif) no-repeat 0 0;
  height: 28px;
}
#service #section2 .container .gap .content table thead tr th span {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 0 0 0;
  line-height: 120%;
}
#service #section2 .container .gap .content table thead tr th span img {
  width: auto;
}
#service #section2 .container .gap .content table thead tr th:first-child {
  background: url(../../../../../public/img/service/bgTableStartCol.gif) no-repeat 0 0;
}
#service #section2 .container .gap .content table thead tr th:last-child span {
  background: url(../../../../../public/img/service/bgTableEndCol.gif) no-repeat 99.5% 0;
}
#service #section2 .container .gap .content table tbody {
  width: 100%;
}
#service #section2 .container .gap .content table tbody tr td {
  border-bottom: 1px solid #e8e8e8;
  padding: 8px 10px;
  color: #666;
  line-height: 120%;
  font-size: 12px;
}
#service #section2 .container .gap .content table tbody tr td:nth-child(2) {
  color: #15983d;
  padding: 8px 20px;
}
#service #section2 .container .gap .content table tbody tr td:nth-child(3) {
  text-align: left;
}
#service #section2 .container .gap .content table tbody tr td:nth-child(4) {
  padding: 8px 25px;
}
#service #section2 .container .gap .content table tbody tr td a:hover {
  color: #fb7119;
}
#service #section2 .container .gap .content .page-btn-box {
  width: 100%;
  height: 37px;
  background: #f9f9f9;
  margin: 50px 0 0 0;
  border: 1px solid #eee;
  border-bottom-color: #ddd;
  text-align: center;
}
#service #section2 .container .gap .content .page-btn-box a:nth-child(2), #service #section2 .container .gap .content .page-btn-box a:nth-child(3), #service #section2 .container .gap .content .page-btn-box a:nth-child(4), #service #section2 .container .gap .content .page-btn-box a:nth-child(5), #service #section2 .container .gap .content .page-btn-box a:nth-child(6), #service #section2 .container .gap .content .page-btn-box a:nth-child(7), #service #section2 .container .gap .content .page-btn-box a:nth-child(8), #service #section2 .container .gap .content .page-btn-box a:nth-child(9), #service #section2 .container .gap .content .page-btn-box a:nth-child(10), #service #section2 .container .gap .content .page-btn-box a:nth-child(11) {
  display: inline-block;
  padding: 10px 0 0 0;
  width: 39px;
  height: 100%;
  font-size: 12px;
  font-weight: 700;
  border-left: 1px solid #eee;
  line-height: 120%;
  color: #3a3a3a;
}
#service #section2 .container .gap .content .page-btn-box a:nth-child(1) {
  display: inline-block;
  width: 40px;
  height: 100%;
  padding: 11px 0 0 0;
  margin: 0 6px;
}
#service #section2 .container .gap .content .page-btn-box a:nth-child(1) img {
  width: auto;
}
#service #section2 .container .gap .content .page-btn-box a:nth-child(12) {
  display: inline-block;
  width: 40px;
  height: 100%;
  padding: 11px 0 0 0;
  margin: 0 6px 0 0;
  border-left: 1px solid #eee;
}
#service #section2 .container .gap .content .page-btn-box a:nth-child(12) img {
  width: auto;
  margin: 0 0 0 14px;
}
#service #section2 .container .gap .content .page-btn-box a:nth-child(13) {
  display: inline-block;
  width: 40px;
  height: 100%;
  padding: 11px 0 0 0;
  margin: 0 6px;
}
#service #section2 .container .gap .content .page-btn-box a:nth-child(13) img {
  width: auto;
}
#service #section2 .container .gap .content .page-btn-box a:hover {
  color: #fb7119;
}
#service #section2 .container .gap .content .page-btn-box a.on {
  color: #fb7119;
}