#section8,
#section9,
#section10 {
  width: 100%;
}
#section8 .container,
#section9 .container,
#section10 .container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
#section8 .container .gap,
#section9 .container .gap,
#section10 .container .gap {
  width: 100%;
  padding: 15px 0 0 0;
}
#section8 .container .gap .title,
#section9 .container .gap .title,
#section10 .container .gap .title {
  width: 100%;
}
#section8 .container .gap .title h3,
#section9 .container .gap .title h3,
#section10 .container .gap .title h3 {
  width: 100%;
  background: url(../../../../../public/img/service/bulRightgreen.gif) no-repeat 0 0;
  padding: 0 0 0 20px;
  margin: 0 0 2.5px 0;
}
#section8 .container .gap .title h3 img,
#section9 .container .gap .title h3 img,
#section10 .container .gap .title h3 img {
  width: auto;
  margin: -3px 0 0 0;
}
#section8 .container .gap .content,
#section9 .container .gap .content,
#section10 .container .gap .content {
  width: 100%;
}
#section8 .container .gap .content img,
#section9 .container .gap .content img,
#section10 .container .gap .content img {
  width: auto;
}
#section8 .container .gap .content div,
#section9 .container .gap .content div,
#section10 .container .gap .content div {
  width: 100%;
  padding: 16px 28px 16px 20px;
  margin: -3px 0 -7px 0;
  background: url(../../../../../public/img/service/bgConBox0102.gif) repeat-y;
}
#section8 .container .gap .content div h5,
#section9 .container .gap .content div h5,
#section10 .container .gap .content div h5 {
  width: 100%;
  padding: 0 0 5px 0;
  color: #166ea2;
  font-size: 12px;
  line-height: 120%;
}
#section8 .container .gap .content div h5 strong,
#section9 .container .gap .content div h5 strong,
#section10 .container .gap .content div h5 strong {
  font-weight: 700;
}
#section8 .container .gap .content div p,
#section9 .container .gap .content div p,
#section10 .container .gap .content div p {
  padding: 0 0 14px 15px;
  color: #878787;
  font-size: 12px;
  line-height: 17px;
  display: block;
  width: 100%;
}
#section8 .container .gap .content img,
#section9 .container .gap .content img,
#section10 .container .gap .content img {
  width: auto;
}