#mypage {
  width: 100%;
  background: #f8f8f8;
  padding: 50px 0;
}
#mypage .container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
#mypage .container .gap {
  width: 100%;
}
#mypage .container .gap .title {
  width: 100%;
  margin-bottom: 7px;
  background-color: #fff;
}
#mypage .container .gap .title .up-box {
  width: 100%;
  padding: 25px 0;
  border-bottom: 1px solid #eee;
}
#mypage .container .gap .title .up-box .heart-img {
  width: 100%;
}
#mypage .container .gap .title .up-box .heart-img img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 45px;
}
#mypage .container .gap .title .up-box h4 {
  padding-top: 10px;
  text-align: center;
  font-size: 17px;
  color: #000;
}
#mypage .container .gap .title .up-box h4 span {
  color: #ef3e42;
  font-weight: 600;
}
#mypage .container .gap .title .down-box {
  width: 100%;
}
#mypage .container .gap .title .down-box a {
  width: 120px;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  padding: 15px 0;
  color: #000;
}
#mypage .container .gap .content {
  width: 100%;
  background-color: #fff;
}
#mypage .container .gap .content .line1 {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #eee;
}
#mypage .container .gap .content .line1 .box {
  width: 50%;
  padding: 45px 0 45px 60px;
}
#mypage .container .gap .content .line1 .box:first-child {
  border-right: 1px solid #eee;
}
#mypage .container .gap .content .line1 .box a {
  display: flex;
}
#mypage .container .gap .content .line1 .box a img {
  width: 60px;
  height: 60px;
}
#mypage .container .gap .content .line1 .box a .right-txt {
  padding-left: 15px;
}
#mypage .container .gap .content .line1 .box a .right-txt h6 {
  font-size: 14px;
  color: #202020;
  padding-bottom: 10px;
}
#mypage .container .gap .content .line1 .box a .right-txt p {
  font-size: 12px;
  line-height: 18px;
  color: #707070;
}
#mypage .container .gap .content .line2 {
  width: 100%;
  display: flex;
}
#mypage .container .gap .content .line2 .box {
  width: 50%;
  padding: 45px 0 45px 60px;
  display: flex;
}
#mypage .container .gap .content .line2 .box:first-child {
  border-right: 1px solid #eee;
}
#mypage .container .gap .content .line2 .box a {
  display: flex;
}
#mypage .container .gap .content .line2 .box a img {
  width: 60px;
  height: 60px;
}
#mypage .container .gap .content .line2 .box a .right-txt {
  padding-left: 15px;
}
#mypage .container .gap .content .line2 .box a .right-txt h6 {
  font-size: 14px;
  color: #202020;
  line-height: 60px;
}