#service{
    #section3{
        width: 100%;
        .container{
            width: 100%;
            max-width: 700px;
            margin: 0 auto;
            .gap{
                width: 100%;
                .content{
                    width: 100%;
                    margin: 5px 0 0 0;
                    .top-box{
                        width: 100%;
                        padding: 10px 0 0 0;
                        margin: 0 0 20px 0;
                        h3{
                            width: 100%;
                            background: url(../../../../../public/img/service/bulRightgreen.gif) no-repeat 0 0;
                            padding: 0 0 0 21px;
                            margin: 0 0 10px 0;
                            img{
                                width: auto;
                            }
                        }
                        .search{
                            width: 100%;
                            height: 41px;
                            background: url(../../../../../public/img/service/bgTabletop01.gif) no-repeat 0 0;
                            padding: 11px 0 0 28px;
                            margin: 16px 0 0 0;
                            img{
                                width: auto;
                                margin: 0 16px 0 0;
                            }
                            input{
                                width: 195px;
                                height: 18px;
                                border: 1px solid #ccc;
                                margin: 0 7px 0 0;
                                color: #646464;
                                padding: 1px 2px;
                            }
                            a{
                                img{
                                    width: auto;
                                }
                            }
                            span{
                                font-size: 12px;
                                line-height: 120%;
                                color: #646464;
                                margin: 0 0 0 -11px;
                            }
                        }
                    }
                    .middle-box{
                        width: 100%;
                        background: url(../../../../../public/img/service/bgQuestionbox01.gif) no-repeat 0 0;
                        margin: 0 0 20px 0;
                        .middle-content-box{
                            width: 100%;
                            background: url(../../../../../public/img/service/bgQuestionbox02.gif) no-repeat 0 100%;
                            dl{
                                width: 100%;
                                border-bottom: 1px solid #d6d6d6;
                                display: flex;
                                &:last-child{
                                    border: 0;
                                }
                                dt{
                                    width: 145px;
                                    height: 37px;
                                    background: url(../../../../../public/img/service/bulTriGr02.gif) no-repeat 15px 50%;
                                    padding: 0 0 0 23px;
                                    img{
                                        width: auto;
                                        padding: 12px 0;
                                    }
                                }
                                dd{
                                    width: 545px;
                                    padding: 8px 0;
                                    border-left: 1px solid #d6d6d6;
                                    ul{
                                        li{
                                            display: inline-block;
                                            padding: 4px 15px 5px 15px;
                                            background: url(../../../../../public/img/service/bgDivisionLine03.gif) no-repeat 100% 50%;
                                            a{
                                                font-size: 12px;
                                                color: #646464;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .bottom-box{
                        width: 100%;
                        h4{
                            width: 100%;
                            background: url(../../../../../public/img/service/bulRightgreen02.gif) no-repeat 2px 1px;
                            padding: 0 0 0 20px;
                            img{
                                width: auto;
                                margin: -1px 0 0 0;
                            }
                        }
                        table{
                            width: 100%;
                            margin: 11px 0 0 0;
                            border-collapse: collapse;
                            text-align: center;
                            thead{
                                width: 100%;
                                tr{
                                    th{
                                        background: url(../../../../../public/img/service/bgTableCell.gif) no-repeat 0 0;
                                        height: 28px;
                                        span{
                                            display: block;
                                            width: 100%;
                                            height: 100%;
                                            padding: 5px 0 0 0;
                                            line-height: 120%;
                                            img{
                                                width: auto;
                                            }
                                        }
                                        &:first-child{
                                            background: url(../../../../../public/img/service/bgTableStartCol.gif) no-repeat 0 0;
                                        }
                                        &:last-child{
                                            span{
                                                background: url(../../../../../public/img/service/bgTableEndCol.gif) no-repeat 100% 0;
                                            }
                                        }
                                    }
                                }
                            }
                            tbody{
                                width: 100%;
                                tr{
                                    td{
                                        border-bottom: 1px solid #e8e8e8;
                                        padding: 8px 20px;
                                        color: #666;
                                        line-height: 120%;
                                        font-size: 12px;
                                        &:last-child{
                                            text-align: left;
                                            padding: 8px 0 8px 35px;
                                            background: url(../../../../../public/img/service/bulQ.gif) no-repeat 10px 50%;
                                        }
                                        a{
                                            color: #15983d;
                                            span{
                                                color: #646464;
                                                &:hover{
                                                    color: #fb7119;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .page-btn-box{
                            width: 100%;
                            height: 37px;
                            background: #f9f9f9;
                            margin: 50px 0 0 0;
                            border: 1px solid #eee;
                            border-bottom-color: #ddd;
                            text-align: center;
                            a{
                                &:nth-child(2),
                                &:nth-child(3),
                                &:nth-child(4),
                                &:nth-child(5),
                                &:nth-child(6),
                                &:nth-child(7),
                                &:nth-child(8),
                                &:nth-child(9),
                                &:nth-child(10),
                                &:nth-child(11){
                                    display: inline-block;
                                    padding: 10px 0 0 0;
                                    width: 39px;
                                    height: 100%;
                                    font-size: 12px;
                                    font-weight: 700;
                                    border-left: 1px solid #eee;
                                    line-height: 120%;
                                    color: #3a3a3a;
                                }
                                &:nth-child(1){
                                    display: inline-block;
                                    width: 40px;
                                    height: 100%;
                                    padding: 11px 0 0 0;
                                    margin: 0 6px;
                                    img{
                                        width: auto;
                                    }
                                }
                                &:nth-child(12){
                                    display: inline-block;
                                    width: 40px;
                                    height: 100%;
                                    padding: 11px 0 0 0;
                                    margin: 0 6px 0 0;
                                    border-left: 1px solid #eee;
                                    img{
                                        width: auto;
                                        margin: 0 0 0 14px;
                                    }
                                }
                                &:nth-child(13){
                                    display: inline-block;
                                    width: 40px;
                                    height: 100%;
                                    padding: 11px 0 0 0;
                                    margin: 0 6px;
                                    img{
                                        width: auto;
                                    }
                                }
                                &:hover{
                                    color: #fb7119;
                                }
                                &.on{
                                    color: #fb7119;
                                }
                            }
                        }
                    }
                    .bottom-banner-box{
                        width: 701px;
                        height: 91px;
                        padding: 18px 0 0 28px;
                        margin: 20px 0 0 0;
                        background: url(../../../../../public/img/service/bgBgreen_1.gif) no-repeat 0 0;
                        >img{
                            width: auto;
                        }
                        a{
                            img{
                                width: auto;
                                transform: translateX(5px);
                            }
                        }
                    }
                }
            }
        }
    }
}