#intro{
    #section6{
        width: 100%;
        .container{
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            .gap{
                width: 100%;
                padding: 0 0 30px 0;
                .title{
                    width: 100%;
                    margin: 0 0 20px 0;
                    text-align: center;
                    h3{
                        color: #000;
                        font-size: 26px;
                        font-weight: 700;
                        line-height: 150%;
                        letter-spacing: -1px;
                    }
                }
                .content{
                    width: 100%;
                    position: relative;
                    .slide-container{
                        width: 100%;
                        .slide-view{
                            width: 100%;
                            overflow: hidden;
                            .slide-wrap{
                                width: ((1280px / 4) * 5) + 35px;
                                display: flex;
                                position: relative;
                                .slide{
                                    width: (100% / 4);
                                    margin: 0 10px;
                                    position: relative;
                                    a{
                                        img{
                                            width: 299px;
                                            height: 376px;
                                            border-radius: 12px;
                                        }
                                        div{
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                            padding: 29px 24px;
                                            font-size: 20px;
                                            font-weight: 700;
                                            color: #fff;
                                            line-height: 150%;
                                            letter-spacing: -2px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .prev-btn{
                        position: absolute;
                        top: 41.5%;
                        left: -24px;
                        width: 48px;
                        height: 48px;
                        background: rgba(255, 255, 255, 0.9);
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        border-radius: 50%;
                        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.13);
                        &::after{
                            content: '';
                            position: absolute;
                            top: 31%;
                            left: 18px;
                            width: 10px;
                            height: 18px;
                            background: url(../../../../../public/img/intro/slide_arrow.svg);
                            transform: rotate(180deg);
                        }
                    }
                    .next-btn{
                        position: absolute;
                        top: 41.5%;
                        right: -20px;
                        width: 48px;
                        height: 48px;
                        background: rgba(255, 255, 255, 0.9);
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        border-radius: 50%;
                        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.13);
                        &::after{
                            content: '';
                            position: absolute;
                            top: 31%;
                            right: 18px;
                            width: 10px;
                            height: 18px;
                            background: url(../../../../../public/img/intro/slide_arrow.svg);
                        }
                    }
                }
            }
        }
    }
}
