#intro{
    #section9{
        width: 100%;
        .container{
            width: 100%;
            max-width: 1903px;
            margin: 0 auto;
            .gap{
                width: 100%;
                .content{
                    width: 100%;
                    background: #2e68fa;
                    text-align: center;
                    a{
                        img{
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}
